MONGO_URL=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLIENT_URL=http://localhost:5173
MONGO_URL=mongodb://127.0.0.1:27017/chats
JWT_SECRET=1234fffffffffffffff
CLOUDINARY_CLOUD_NAME=qnoebep2
CLOUDINARY_API_KEY=713918139993847
CLOUDINARY_API_SECRET=xIW3klrJVztT9VgqOykwujPE8GM
ADMIN_EMAIL=admin@yoursaas.com
ADMIN_PASSWORD=SuperSecretPassword123!
